[submodule "KimeraMobile/KimeraMobile/Vendors/NSLogger"]
	path = KimeraMobile/KimeraMobile/Vendors/NSLogger
	url = https://github.com/fpillet/NSLogger.git
[submodule "KimeraMobile/KimeraMobile/Vendors/CocoaLumberjack"]
	path = KimeraMobile/KimeraMobile/Vendors/CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack.git
[submodule "KimeraMobile/KimeraMobile/Vendors/DMLogger"]
	path = KimeraMobile/KimeraMobile/Vendors/DMLogger
	url = git://github.com/malcommac/DMLogger.git
[submodule "KimeraMobile/KimeraMobile/Vendors/lldb_utilities"]
	path = KimeraMobile/KimeraMobile/Vendors/lldb_utilities
	url = git://github.com/liyanage/lldb_utilities.git
[submodule "KimeraMobile/KimeraMobile/Vendors/AFNetworking"]
	path = KimeraMobile/KimeraMobile/Vendors/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
